.Explain-box{
	@include span-columns(3);
	height: px;
	background-color: $c-white;
	@media screen and(max-width: 980px){
			@include span-columns(12);
			width: 100%;
			display: inline-block;
		}
}

.Explain-button{
	text-align: center;
	width: 250px;
	height: 50px;
	background-color: $c-darkblue;
	color: $c-white;
	margin: auto;
	margin-bottom: 1.5em;

	p{
		color: $c-white;
		padding: 0.6em;
	}
   @media screen and(max-width: 980px){
	width: 100%;
	}
}


/////////////////////////////////////////////////////////TEXT

.Explain-box-title{
	color: $c-darkblue;
	font-size: rem(20px);
	font-weight: 600;
	// text-align: center;
}

.Explain-box-text{
	line-height: 1.8em;
}

.Explain-title{
	font-size: rem(30px);
	color: $c-darkblue;
	// margin-left: 14em;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;	
	height: 10px;

	@media screen and(max-width: 980px){
		@include span-columns(12);
		// margin-bottom: 2em;
	}
}

/////////////////////////////////////////////////////////HEADERS

.Explain-header-Autogegevens{
	// background: url("../img/autogegevens.png");
	background: url("../img/info_auto.svg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: $c-white;
	height: 168px;
	// margin: auto;
	width: 72%;

	transition-duration: .4s;
	&:hover{
  	width: 80%;

   }
	@media screen and(max-width: 980px){
	width: 70%;
	margin: auto;
		&:hover{
			width: 70%;
		}
	}

   
}

.Explain-header-Persoonsgegevens{
	background: url("../img/persoonlijke_info.svg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: $c-white;
	height: 168px;
	// margin: auto;
	width: 72%;
	transition-duration: .4s;
  &:hover{
  	width: 80%;

   }
   @media screen and(max-width: 980px){
	width: 70%;
	margin: auto;
		&:hover{
			width: 70%;
		}
	}
}

.Explain-header-Info{
	background: url("../img/auto_check.svg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: $c-white;
	height: 168px;
	// margin: auto;
	width: 72%;
	transition-duration: .4s;
  &:hover{
  	width: 80%;

   }
   @media screen and(max-width: 980px){
	width: 70%;
	margin: auto;
		&:hover{
			width: 70%;
		}
	}
}

.Explain-header-Verkoop{
	background: url("../img/verkoop.svg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: $c-white;
	height: 168px;
	// margin: auto;
	width: 72%;
	transition-duration: .4s;
  &:hover{
  	width: 80%;

   }
   @media screen and(max-width: 980px){
	width: 70%;
	margin: auto;
		&:hover{
			width: 70%;
		}
	}
}

