// *************************************
//
// Logo
// -> Specific logo container
//
// *************************************

.Logo {
  display: inline-block;
}

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

.Logo-img > a:nth-child(1) > img:nth-child(1){
  // width: 58%;
  width: 33%;
  margin-top: -3em;
  @media screen and(max-width: 980px){
    margin-top: -1em; 
    width: 68%;
  }
}

.Logo-textLink {
  vertical-align: top;
  padding-top: rem(16px);
}

.Logo-textLink,
.Logo-heading,
.Logo-imageLink {
  display: inline-block;
}

// ----- Heading ----- //

.Logo-headingTop,
.Logo-headingBottom {
  color: $c-white;
  display: block;
  line-height: 1;
}

.Logo-headingTop {
  font-family: 'Hobo', sans-serif;
  font-size: rem(70px);
  text-align: center;
}

.Logo-headingBottom {
  font-size: rem(30px);
}

.Logo-img{
  text-align: center;
  margin-top: 1em;

  
}

// .Logo-bg{
//   position: absolute;
//   left: 39em;
//   top: 8em;
//   background-color: $c-white;
//   height: 13em;
//   width: 33em;
// }