// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  text-align: center;
  background-color: $c-gray;
  padding-top: 0.2em;
  // padding-left: 1em;
  // padding-right: 1em;
  padding-bottom: 0.2em;
  display: inline-block;
  float:left;
  text-decoration: none;

  @media screen and(max-width: 980px){
    // margin-left: 6em;
    background-color: transparent;
    padding: 0;
    margin-left: 1.5em;
  }


}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
  text-decoration: none;

}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: inline;
  // padding-top: 2em;
  // padding-left: 1em;
  // padding-right: 1em;
  // padding-bottom: 1em;
  // margin: 0 rem(15px);
  // margin: 3em;
  padding: 1.7em;
  background-color: $c-gray;
  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;
  &:hover{
   background: $c-white;
    text-decoration: none;

   }


  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;

  }

  @media screen and(max-width: 980px){
    display: block;
    padding: 0.5em;

    &:hover{
   background: transparent;
    text-decoration: underline;

   }
    
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;
  color: $c-darkgray;


  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;
  &:hover{
   text-decoration: none;
   color: $c-darkblue;
   }

  @media screen and(max-width: 980px){
    display: inline-block;
    width: 100%;
    // margin-top: 1em;
    padding: 0;
    padding-left: 1em;
    padding-right: 2em;
    color: $c-darkblue;
  }
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}

.Navigation-wrap{
  overflow: hidden;
  height: 4em;
  background-color: $c-gray;
  @media screen and(max-width: 980px){
    height: auto;
  }
}

.Nav-toggle{
  background-color: blue;
}
li.Navigation-listItem:nth-child(1) > a:nth-child(1){
  display: none !important;


  @media screen and(max-width: 980px){
    display: inline-block;
  }

  li.is-active{
    display: none !important;
  }
}
