.Slider{
	background-color: $c-darkblue;
	height: 250px;	
	background: url('http://placehold.it/2000x250/39a2fb/39a2fb');
}

.Slider-tagline{
	color: $c-white;
	text-align: center;
	margin-top: 3em;
	letter-spacing: 7px;
}
