// .Slider{
// 	// background-color: $c-darkblue;
// 	height: 250px;	
// 	// background: url('http://placehold.it/2000x250/39a2fb/39a2fb');
// 	background: url("../img/audi1.jpg");
// 	opacity: 0.4;
// 	// margin-bottom: 3em;
// 	height: 19em;
// }

.Slider-tagline{
	// color: $c-darkblue;
	color: $c-white;
	text-align: center;
	margin-top: 3em;
	letter-spacing: 5px;
	margin-bottom: 0;
  	@media screen and(max-width: 980px){
	margin-top: 1em;
	background-repeat: no-repeat;
	}
}

.Slider-bg{
  // background: rgba($c-white, 0.2);

  // background-color: $c-darkblue;
	height: 250px;	
	// background: url('http://placehold.it/2000x250/39a2fb/39a2fb');
	background: url("../img/audi1.jpg");
	// opacity: 0.4;
	// margin-bottom: 3em;
	height: 19em;

  	@media screen and(max-width: 980px){
	height: 12em;
	background-size: 170%;
	}
}