.Usp{
	position: relative;
	height: 194px;
	background-color: $c-gray;
	@media screen and(max-width: 980px){
			@include span-columns(12);
			position: static;
			height: auto;
	}

}

.Usp-imagewrap{
	@include span-columns(4);
	position: relative;
	height: 1em;
	@media screen and(max-width: 980px){
		@include span-columns(12);
		display: none;
	}


	.Usp-img{
		position: absolute;
		top: -175px;
		width: 350px;
	}
}

.Usp-list{
	@include span-columns(5);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.Usp-title{
	color: $c-darkblue;
	margin-top: 10px;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.Usp-text{
	color: $c-darkblue;
}

// .Directverkoop-imagewrap{
// 	@include span-columns(3);
// 	position: relative;
// 	height: 1em; 

// 	.Directverkoop-img{
// 		position: absolute;
// 		top: 300px;
// 		width: 350px;

// 	}
// }

.Directverkoop-img{
	position: absolute;
	top: -50px;
	width: 218px;
	 -webkit-duration: .3s;
	-moz-duration: .3s;
	-o-duration: .3s;
	transition-duration: .3s;
	&:hover{
	background: $c-white;
	text-decoration: none;
	}
	@media screen and(max-width: 980px){
		display: none;
 	}
}